on:
  push:
    branches:
      - master
jobs:
  versioning:
    name: versioning
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: Bump version
        uses: remorses/bump-version@js
        with:
          version_file: ./VERSION
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_TOKEN }}